@font-face {
  font-family: 'GothamPro';
  src: url("fonts/GothamPro.eot");
  src: url("fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro.woff2") format("woff2"), url("fonts/GothamPro.woff") format("woff"), url("fonts/GothamPro.ttf") format("truetype"), url("fonts/GothamPro.svg#GothamPro") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Black';
  src: url("fonts/GothamPro-Black.eot");
  src: url("fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Black.woff2") format("woff2"), url("fonts/GothamPro-Black.woff") format("woff"), url("fonts/GothamPro-Black.ttf") format("truetype"), url("fonts/GothamPro-Black.svg#GothamPro-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Bold';
  src: url("fonts/GothamPro-Bold.eot");
  src: url("fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Bold.woff2") format("woff2"), url("fonts/GothamPro-Bold.woff") format("woff"), url("fonts/GothamPro-Bold.ttf") format("truetype"), url("fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro-Medium';
  src: url("fonts/GothamPro-Medium.eot");
  src: url("fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Medium.woff2") format("woff2"), url("fonts/GothamPro-Medium.woff") format("woff"), url("fonts/GothamPro-Medium.ttf") format("truetype"), url("fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText';
  src: url("fonts/SFUIText-Regular.eot");
  src: url("fonts/SFUIText-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/SFUIText-Regular.woff2") format("woff2"), url("fonts/SFUIText-Regular.woff") format("woff"), url("fonts/SFUIText-Regular.ttf") format("truetype"), url("fonts/SFUIText-Regular.svg#SFUIText-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUIText-Heavy';
  src: url("fonts/SFUIText-Heavy.eot");
  src: url("fonts/SFUIText-Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/SFUIText-Heavy.woff2") format("woff2"), url("fonts/SFUIText-Heavy.woff") format("woff"), url("fonts/SFUIText-Heavy.ttf") format("truetype"), url("fonts/SFUIText-Heavy.svg#SFUIText-Heavy") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?w904ub");
  src: url("fonts/icomoon.eot?w904ub#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?w904ub") format("truetype"), url("fonts/icomoon.woff?w904ub") format("woff"), url("fonts/icomoon.svg?w904ub#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-car:before {
  content: "\e900"; }

.icon-like:before {
  content: "\e901"; }

.icon-medal:before {
  content: "\e902"; }

.icon-card:before {
  content: "\e903"; }

.icon-shield:before {
  content: "\e904"; }

.icon-cash:before {
  content: "\e905"; }

.icon-marker:before {
  content: "\e906"; }

.icon-mail:before {
  content: "\e907"; }

.icon-call:before {
  content: "\e908"; }

.icon-vk:before {
  content: "\e909"; }

body {
  font-family: 'GothamPro', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.wrapper {
  position: relative;
  background: #ffffff;
  overflow: hidden; }

p {
  font-size: 12px; }
  @media print, screen and (min-width: 40em) {
    p {
      font-size: 14px; } }

section {
  position: relative; }

.container {
  max-width: 1140px;
  margin: auto;
  position: relative;
  padding: 0 10px; }
  @media screen and (min-width: 90em) {
    .container {
      padding: 0; } }

a {
  display: inline-block;
  text-decoration: none; }

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block; }

.section-title {
  font-family: "GothamPro-Black", Helvetica, Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 1.3px;
  line-height: 1.2;
  margin-bottom: 20px; }
  @media print, screen and (min-width: 40em) {
    .section-title {
      font-size: 33px; } }
  @media print, screen and (min-width: 60em) {
    .section-title {
      font-size: 42px;
      margin-bottom: 30px; } }
  @media screen and (min-width: 71.25em) {
    .section-title {
      font-size: 50px; } }

.button {
  width: 75%;
  max-width: 270px;
  cursor: pointer;
  padding: 8px;
  position: absolute;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #ffffff;
  font-family: "GothamPro-Black", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  font-size: 14px;
  background: -webkit-linear-gradient(top, #20aae4 0%, #0085d8 100%);
  background: linear-gradient(to bottom, #20aae4 0%, #0085d8 100%);
  box-shadow: 0px 4px 0px 0px #0067a7;
  -webkit-transition: .4s;
          transition: .4s; }
  .button:hover {
    bottom: 0;
    box-shadow: 0px 1px 0px 0px #0067a7; }
  @media print, screen and (min-width: 40em) {
    .button {
      font-size: 16px;
      padding: 12px; } }
  @media print, screen and (min-width: 60em) {
    .button {
      padding: 16px;
      border-radius: 8px; } }
  @media screen and (min-width: 71.25em) {
    .button {
      font-size: 18px;
      padding: 21px; } }

#header {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  -webkit-transition: .4s;
          transition: .4s;
  font-family: "SFUIText", Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); }
  @media print, screen and (min-width: 60em) {
    #header {
      position: absolute;
      padding: 14px 30px 15px;
      box-shadow: none;
      background: transparent; }
      #header.fix {
        position: fixed;
        background: #ffffff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
        -webkit-transition: .4s;
                transition: .4s; } }
  @media screen and (min-width: 71.25em) {
    #header .container {
      padding: 0; } }

.header-inner {
  padding: 18px 10px; }
  .header-inner a {
    position: relative;
    -webkit-transition: .4s;
            transition: .4s; }
  @media print, screen and (min-width: 40em) {
    .header-inner {
      padding: 18px 30px; } }
  @media print, screen and (min-width: 60em) {
    .header-inner {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

a.header-logo {
  display: block;
  width: 200px;
  position: relative;
  z-index: 2;
  font-size: 20px; }
  @media print, screen and (min-width: 60em) {
    a.header-logo {
      width: 213px; } }

.header-nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 100%;
  -webkit-transition: .4s;
          transition: .4s;
  z-index: 1;
  padding: 150px 0 0 30px;
  font-size: 18px;
  background: #ffffff; }
  @media print, screen and (min-width: 40em) {
    .header-nav {
      width: 50%; } }
  @media print, screen and (min-width: 60em) {
    .header-nav {
      background: transparent;
      position: relative;
      font-size: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      left: auto;
      height: auto;
      margin-top: 0;
      padding: 0;
      width: 72%; } }
  @media screen and (min-width: 71.25em) {
    .header-nav {
      position: relative;
      left: auto;
      height: auto;
      margin-top: 0;
      padding: 0;
      width: 68%; } }
  .header-nav.active {
    left: 0; }
    @media print, screen and (min-width: 40em) {
      .header-nav.active {
        left: 50%; } }
    .header-nav.active .header-menu li {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
      .header-nav.active .header-menu li:nth-child(1) {
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s; }
      .header-nav.active .header-menu li:nth-child(2) {
        -webkit-transition-delay: 0.2s;
                transition-delay: 0.2s; }
      .header-nav.active .header-menu li:nth-child(3) {
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s; }
      .header-nav.active .header-menu li:nth-child(4) {
        -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s; }
      .header-nav.active .header-menu li:nth-child(5) {
        -webkit-transition-delay: 0.5s;
                transition-delay: 0.5s; }
      .header-nav.active .header-menu li:nth-child(6) {
        -webkit-transition-delay: 0.6s;
                transition-delay: 0.6s; }
      .header-nav.active .header-menu li:nth-child(7) {
        -webkit-transition-delay: 0.7s;
                transition-delay: 0.7s; }
      .header-nav.active .header-menu li:nth-child(8) {
        -webkit-transition-delay: 0.8s;
                transition-delay: 0.8s; }
      .header-nav.active .header-menu li:nth-child(9) {
        -webkit-transition-delay: 0.9s;
                transition-delay: 0.9s; }
      .header-nav.active .header-menu li:nth-child(10) {
        -webkit-transition-delay: 1s;
                transition-delay: 1s; }
    .header-nav.active .header-phone {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }

.header-menu {
  list-style-type: none;
  margin: 0;
  margin-bottom: 50px; }
  .header-menu a {
    color: #232323;
    position: relative; }
    .header-menu a:before {
      display: block;
      position: absolute;
      content: '';
      height: 1px;
      width: 0;
      -webkit-transition: .4s;
              transition: .4s;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background: #232323; }
      @media screen and (min-width: 90em) {
        .header-menu a:before {
          bottom: -1px;
          height: 2px; } }
    .header-menu a:hover:before {
      width: 100%; }
  @media print, screen and (min-width: 60em) {
    .header-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 0; } }
  @media screen and (min-width: 71.25em) {
    .header-menu {
      width: 53%;
      padding-top: 4px; } }
  .header-menu li {
    margin-bottom: 30px;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .4s .4s;
            transition: .4s .4s;
    position: relative; }
    @media print, screen and (min-width: 60em) {
      .header-menu li {
        padding: 0 25px;
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1);
        margin-bottom: 0; }
        .header-menu li:before {
          position: absolute;
          display: block;
          content: '';
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background: #1fa9e3;
          right: 0;
          top: 50%;
          -webkit-transform: translate(50%, -50%);
              -ms-transform: translate(50%, -50%);
                  transform: translate(50%, -50%); }
        .header-menu li:last-child:before {
          display: none; } }
    @media screen and (min-width: 71.25em) {
      .header-menu li {
        margin: 0;
        padding: 0; }
        .header-menu li:before {
          right: -37px; } }

.header-contact {
  position: relative;
  z-index: 1;
  visibility: visible;
  opacity: 1;
  letter-spacing: .5px; }
  @media print, screen and (min-width: 60em) {
    .header-contact {
      text-align: right; } }

.header-phone {
  font-family: "GothamPro-Bold", Helvetica, Arial, sans-serif;
  display: block;
  position: relative;
  z-index: 1;
  visibility: visible;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .4s .4s;
          transition: .4s .4s;
  line-height: 1.2;
  color: #232323; }
  @media print, screen and (min-width: 60em) {
    .header-phone {
      opacity: 1;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transition: .4s;
              transition: .4s; } }
  @media screen and (min-width: 71.25em) {
    .header-phone {
      font-size: 22px;
      margin-left: 8px; } }

.header-trigger {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 1; }
  @media print, screen and (min-width: 60em) {
    .header-trigger {
      display: none; } }
  .header-trigger.active span:first-child {
    top: 50%;
    -webkit-transition: .4s;
            transition: .4s;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden; }
  .header-trigger.active span:nth-child(2) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transition: .4s .4s;
            transition: .4s .4s; }
  .header-trigger.active span:nth-child(3) {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transition: .4s .4s;
            transition: .4s .4s; }
  .header-trigger.active span:last-child {
    bottom: 50%;
    -webkit-transition: .4s;
            transition: .4s;
    -webkit-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    opacity: 0;
    visibility: hidden; }
  .header-trigger span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 5px;
    background: #1fa9e3; }
    .header-trigger span:first-child {
      top: 0;
      -webkit-transition: .4s .4s;
              transition: .4s .4s;
      opacity: 1;
      visibility: visible; }
    .header-trigger span:nth-child(2) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: .4s;
              transition: .4s; }
    .header-trigger span:nth-child(3) {
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: .4s;
              transition: .4s; }
    .header-trigger span:last-child {
      bottom: 0;
      -webkit-transition: .4s .4s;
              transition: .4s .4s;
      opacity: 1;
      visibility: visible; }

.callback-link {
  cursor: pointer;
  -webkit-transition: .4s;
          transition: .4s;
  color: #1fa9e3;
  position: relative;
  display: inline-block; }
  .callback-link:hover:before {
    width: 0; }
  .callback-link:before {
    display: block;
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: .4s;
            transition: .4s;
    width: 100%;
    background: #1fa9e3; }

.intro {
  margin-top: 86px;
  margin-bottom: 30px;
  z-index: 2; }
  @media print, screen and (min-width: 40em) {
    .intro {
      margin-bottom: 75px; } }
  @media print, screen and (min-width: 60em) {
    .intro:before {
      position: absolute;
      content: '';
      display: block;
      z-index: 0;
      top: -86px;
      left: 0;
      width: 100%;
      height: 80px;
      background: #ffffff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); } }
  @media screen and (min-width: 71.25em) {
    .intro {
      margin-bottom: 0; } }
  .intro .container {
    height: calc(100vh - 86px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media print, screen and (min-width: 40em) {
      .intro .container {
        height: auto;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -ms-flex-pack: distribute;
            justify-content: space-around; } }
    @media print, screen and (min-width: 60em) {
      .intro .container {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    @media screen and (min-width: 90em) {
      .intro .container {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; } }

.intro-content {
  position: relative;
  z-index: 1;
  padding: 30px 15px 60px;
  max-width: 300px; }
  @media print, screen and (min-width: 40em) {
    .intro-content {
      width: 50%;
      max-width: none;
      padding-bottom: 80px; } }
  @media print, screen and (min-width: 60em) {
    .intro-content {
      padding: 90px 0 108px 15px;
      width: 53%;
      max-width: none; } }
  @media screen and (min-width: 71.25em) {
    .intro-content {
      padding: 0 0 90px 15px; } }
  @media screen and (min-width: 90em) {
    .intro-content {
      padding-left: 0;
      padding-top: 98px;
      padding-bottom: 108px;
      width: 52%; } }

.intro-title {
  margin-bottom: 15px;
  font-size: 30px; }
  @media print, screen and (min-width: 40em) {
    .intro-title {
      max-width: 280px;
      font-size: 40px; } }
  @media print, screen and (min-width: 60em) {
    .intro-title {
      max-width: 350px;
      font-size: 50px; } }
  @media screen and (min-width: 71.25em) {
    .intro-title {
      max-width: 400px;
      font-size: 60px; } }
  @media screen and (min-width: 90em) {
    .intro-title {
      max-width: 400px;
      font-size: 70px; } }

.intro-subtitle {
  font-size: 14px;
  letter-spacing: .4px; }
  @media print, screen and (min-width: 60em) {
    .intro-subtitle {
      font-size: 16px; } }

.intro-button {
  max-width: 270px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  left: 15px; }
  @media screen and (min-width: 90em) {
    .intro-button {
      left: 0; } }

.intro-img {
  position: absolute;
  top: -2px;
  z-index: 0;
  opacity: .4;
  max-width: 320px;
  right: 0; }
  @media print, screen and (min-width: 40em) {
    .intro-img {
      max-width: 365px;
      position: relative;
      width: 50%;
      opacity: 1;
      z-index: 1; } }
  @media print, screen and (min-width: 60em) {
    .intro-img {
      width: 48%;
      max-width: 400px;
      top: -6px; } }
  @media screen and (min-width: 71.25em) {
    .intro-img {
      max-width: 517px;
      z-index: 2;
      top: -86px;
      left: -5px; } }

.about {
  font-family: "SFUIText", Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  z-index: 1; }
  @media screen and (min-width: 71.25em) {
    .about {
      margin-bottom: 60px; } }

@media print, screen and (min-width: 60em) {
  .about-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

.about-title {
  color: #ffffff;
  line-height: 1; }
  @media screen and (min-width: 71.25em) {
    .about-title {
      margin-bottom: 17px; } }

.about-content {
  margin-bottom: 30px; }
  @media print, screen and (min-width: 60em) {
    .about-content {
      margin-bottom: 0;
      width: 40%;
      padding-right: 30px; } }
  @media screen and (min-width: 71.25em) {
    .about-content {
      padding-top: 19px; } }

.about-text {
  letter-spacing: 0.36px;
  line-height: 1.75; }
  .about-text p {
    margin-bottom: 15px; }
    @media print, screen and (min-width: 60em) {
      .about-text p {
        margin-bottom: 25px; } }

.about-img {
  position: absolute;
  z-index: 0;
  right: calc(100% - 250px);
  bottom: calc(100% - 120px);
  width: 100%;
  max-width: 305px; }
  @media print, screen and (min-width: 40em) {
    .about-img {
      right: calc(100% - 270px);
      bottom: calc(100% - 135px); } }
  @media print, screen and (min-width: 60em) {
    .about-img {
      right: calc(100% - 320px);
      bottom: calc(100% - 170px);
      max-width: 400px; } }
  @media screen and (min-width: 71.25em) {
    .about-img {
      width: 50%;
      max-width: none;
      right: calc(50% + 180px);
      bottom: calc(100% - 260px); } }
  @media screen and (min-width: 90em) {
    .about-img {
      right: calc(50% + 135px);
      bottom: calc(100% - 290px); } }
  @media screen and (min-width: 106.25em) {
    .about-img {
      width: calc(50% - 185px);
      right: calc(50% + 185px);
      bottom: calc(100% - 300px); } }

@media print, screen and (min-width: 40em) {
  .about-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media print, screen and (min-width: 60em) {
  .about-list {
    width: 60%; } }

@media screen and (min-width: 71.25em) {
  .about-list {
    padding-left: 50px; } }

.about-list-item {
  padding-left: 45px;
  padding-top: 5px;
  margin-bottom: 15px;
  position: relative; }
  @media print, screen and (min-width: 40em) {
    .about-list-item {
      width: 50%; } }
  @media print, screen and (min-width: 60em) {
    .about-list-item {
      padding-left: 60px; } }
  @media screen and (min-width: 71.25em) {
    .about-list-item {
      padding-left: 96px;
      margin-bottom: 46px; } }

.about-item-title {
  letter-spacing: 0.65px;
  font-family: "SFUIText-Heavy", Helvetica, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 5px;
  font-size: 14px; }
  @media print, screen and (min-width: 40em) {
    .about-item-title {
      font-size: 16px;
      margin-bottom: 10px; } }
  @media print, screen and (min-width: 60em) {
    .about-item-title {
      font-size: 18px;
      padding-right: 53px; } }
  @media screen and (min-width: 71.25em) {
    .about-item-title {
      font-size: 20px;
      padding-right: 50px;
      margin-bottom: 16px; } }

.item-title-img {
  position: absolute;
  left: 0px;
  top: 0;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .item-title-img:before {
    display: block;
    position: absolute;
    content: '';
    width: 90%;
    height: 90%;
    background: #1fa9e3;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 8px;
    text-align: center; }
  @media print, screen and (min-width: 60em) {
    .item-title-img {
      width: 50px;
      height: 50px; }
      .item-title-img:before {
        border-radius: 15px; } }
  @media screen and (min-width: 71.25em) {
    .item-title-img {
      width: 80px;
      height: 80px;
      left: 0;
      top: -12px; } }
  .item-title-img [class^="icon-"] {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
    z-index: 1; }
    @media print, screen and (min-width: 60em) {
      .item-title-img [class^="icon-"] {
        font-size: 28px; } }
    @media screen and (min-width: 71.25em) {
      .item-title-img [class^="icon-"] {
        font-size: 40px; } }

.about-item-text {
  letter-spacing: 0.4px; }
  @media screen and (min-width: 71.25em) {
    .about-item-text {
      padding-right: 16px; } }

.products {
  margin-bottom: 40px;
  padding-bottom: 40px; }
  @media screen and (min-width: 71.25em) {
    .products {
      padding-bottom: 82px;
      margin-bottom: 6px; } }
  .products .container {
    padding-bottom: 60px; }
    @media print, screen and (min-width: 60em) {
      .products .container {
        padding-bottom: 70px; } }
    @media screen and (min-width: 71.25em) {
      .products .container {
        padding-bottom: 85px; } }

.products-img {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0; }
  @media print, screen and (min-width: 40em) {
    .products-img {
      width: 70%; } }
  @media print, screen and (min-width: 60em) {
    .products-img {
      max-width: 500px; } }
  @media screen and (min-width: 71.25em) {
    .products-img {
      max-width: none;
      width: calc(50% - 156px); } }

.products-title {
  text-align: center; }
  @media screen and (min-width: 71.25em) {
    .products-title {
      margin-bottom: 44px; } }

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (min-width: 71.25em) {
    .products-list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.products-item {
  position: relative;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 2px 17px rgba(0, 0, 0, 0.13);
  margin: 0 5px 40px;
  padding-bottom: 60px;
  background: #ffffff;
  max-width: 316px; }
  @media print, screen and (min-width: 60em) {
    .products-item {
      margin: 0 0 50px; } }
  @media screen and (min-width: 71.25em) {
    .products-item {
      max-width: none;
      width: 360px;
      padding-bottom: 45px;
      margin-bottom: 68px; } }
  .products-item:hover .products-item-button {
    visibility: visible;
    opacity: 1; }

.products-item-img {
  padding: 0 20px;
  margin-bottom: 10px; }
  @media screen and (min-width: 71.25em) {
    .products-item-img {
      padding: 0 40px; } }

.products-item-name {
  font-family: "GothamPro-Medium", Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 10px; }
  @media print, screen and (min-width: 40em) {
    .products-item-name {
      font-size: 20px; } }
  @media print, screen and (min-width: 60em) {
    .products-item-name {
      font-size: 24px; } }
  @media screen and (min-width: 71.25em) {
    .products-item-name {
      font-size: 28px;
      margin-bottom: 17px; } }

.products-item-data {
  margin-bottom: 40px; }
  @media print, screen and (min-width: 60em) {
    .products-item-data {
      margin-bottom: 55px; } }
  @media screen and (min-width: 71.25em) {
    .products-item-data {
      margin-bottom: 87px; } }
  .products-item-data p {
    margin-bottom: 4px;
    letter-spacing: 0.3px;
    font-size: 12px; }
    @media screen and (min-width: 71.25em) {
      .products-item-data p {
        font-size: 14px; } }
    .products-item-data p span:first-child {
      font-family: "GothamPro-Bold", Helvetica, Arial, sans-serif; }

.products-item-button {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 35px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .4s;
          transition: .4s; }
  .products-item-button:hover {
    bottom: 31px; }

.products-subtext {
  font-size: 12px;
  text-align: center;
  max-width: 420px;
  margin: auto; }
  @media print, screen and (min-width: 40em) {
    .products-subtext {
      font-size: 14px; } }
  @media print, screen and (min-width: 60em) {
    .products-subtext {
      margin-top: -20px; } }
  @media screen and (min-width: 71.25em) {
    .products-subtext {
      margin-top: -42px; } }

.products-button {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 400px; }

.services {
  margin-bottom: 40px;
  z-index: 2; }
  @media print, screen and (min-width: 60em) {
    .services {
      margin-bottom: 70px; } }
  @media screen and (min-width: 71.25em) {
    .services {
      margin-bottom: 101px; } }

.services-title {
  text-align: center; }
  @media print, screen and (min-width: 60em) {
    .services-title {
      margin-bottom: 54px; } }

.services-item {
  margin-bottom: 40px; }
  .services-item:last-child {
    margin-bottom: 0; }
  @media print, screen and (min-width: 60em) {
    .services-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .services-item.reverse .services-item-content {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        padding-left: 20px;
        padding-right: 0; }
      .services-item.reverse .services-item-img {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; } }
  @media print, screen and (min-width: 60em) {
    .services-item {
      margin-bottom: 91px; }
      .services-item.reverse .services-item-content {
        padding-left: 91px; } }

.services-item-content {
  margin-bottom: 15px; }
  @media print, screen and (min-width: 60em) {
    .services-item-content {
      width: 47.5%;
      padding-right: 77px;
      margin-bottom: 0; } }

.services-item-title {
  font-size: 20px;
  margin-bottom: 15px;
  letter-spacing: 0.75px; }
  @media print, screen and (min-width: 40em) {
    .services-item-title {
      font-size: 25px; } }
  @media print, screen and (min-width: 60em) {
    .services-item-title {
      font-size: 30px;
      margin-bottom: 22px; } }
  @media screen and (min-width: 71.25em) {
    .services-item-title {
      font-size: 36px; } }

.services-item-text p {
  letter-spacing: .4px;
  line-height: 1.75; }

@media print, screen and (min-width: 60em) {
  .services-item-img {
    width: 52.5%;
    margin-bottom: 0; } }

.clients {
  background: #f4f4f4;
  padding: 30px 0; }
  @media screen and (min-width: 71.25em) {
    .clients {
      padding: 43px 0; } }
  @media print, screen and (min-width: 40em) {
    .clients .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.clients-img {
  position: absolute;
  left: 0;
  bottom: calc(100% - 130px);
  z-index: 0;
  width: 190px; }
  @media print, screen and (min-width: 40em) {
    .clients-img {
      bottom: calc(100% - 205px); } }
  @media print, screen and (min-width: 60em) {
    .clients-img {
      bottom: calc(100% - 230px);
      width: 210px; } }
  @media screen and (min-width: 71.25em) {
    .clients-img {
      bottom: calc(100% - 337px);
      width: calc(50% - 315px); } }
  @media screen and (min-width: 90em) {
    .clients-img {
      bottom: calc(100% - 350px);
      width: calc(50% - 315px); } }
  @media screen and (min-width: 106.25em) {
    .clients-img {
      bottom: calc(100% - 497px);
      width: calc(50% - 342px); } }

.clients-title {
  color: #ffffff;
  margin-bottom: 50px; }
  @media print, screen and (min-width: 40em) {
    .clients-title {
      margin-bottom: 0; } }
  @media print, screen and (min-width: 60em) {
    .clients-title {
      font-size: 36px; } }

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media print, screen and (min-width: 40em) {
    .clients-list {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }
  @media screen and (min-width: 71.25em) {
    .clients-list {
      width: 80%; } }
  @media screen and (min-width: 106.25em) {
    .clients-list {
      width: 84%; } }

.clients-item {
  filter: grayscale(100%);
  opacity: .5;
  width: 30%;
  -webkit-transition: .4s;
          transition: .4s;
  margin-bottom: 10px; }
  @media print, screen and (min-width: 40em) {
    .clients-item {
      width: auto;
      margin-bottom: 0; } }
  .clients-item:hover {
    filter: grayscale(0);
    opacity: 1; }

.contacts {
  height: 300px; }
  @media print, screen and (min-width: 40em) {
    .contacts {
      height: 400px; } }
  @media print, screen and (min-width: 60em) {
    .contacts {
      height: 500px; } }
  @media screen and (min-width: 71.25em) {
    .contacts {
      height: 700px; } }
  .contacts .container {
    height: 100%; }

.contacts-map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; }

.contacts-inner {
  position: absolute;
  width: 100%;
  max-width: 320px;
  height: 100%;
  top: 0;
  right: 0;
  background: #ffffff;
  padding: 23px 10px 23px 30px;
  z-index: 1; }
  @media print, screen and (min-width: 40em) {
    .contacts-inner {
      max-width: none;
      width: auto;
      padding-right: 25px;
      height: 300px;
      right: 15px;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }
  @media print, screen and (min-width: 60em) {
    .contacts-inner {
      height: auto;
      padding: 35px 25px 35px 30px; } }
  @media screen and (min-width: 71.25em) {
    .contacts-inner {
      right: 0;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      top: 170px;
      width: auto;
      height: auto;
      padding: 38px 23px 54px 29px; } }

.contacts-title {
  margin-bottom: 30px;
  letter-spacing: 0px; }
  @media screen and (min-width: 71.25em) {
    .contacts-title {
      font-size: 46px;
      margin-bottom: 48px; } }

.contacts-item {
  color: #232323;
  font-size: 14px;
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
  -webkit-transition: .4s;
          transition: .4s;
  display: block;
  line-height: 1.7; }
  .contacts-item:last-child {
    margin-bottom: 0; }
  .contacts-item:hover .text:before {
    width: 100%; }
  .contacts-item:hover [class^="icon-"] {
    -webkit-transform: translateY(-50%) scale(1.05);
        -ms-transform: translateY(-50%) scale(1.05);
            transform: translateY(-50%) scale(1.05); }
  @media print, screen and (min-width: 60em) {
    .contacts-item {
      font-size: 16px;
      padding-left: 50px; } }
  @media screen and (min-width: 71.25em) {
    .contacts-item {
      padding-left: 57px;
      margin-bottom: 40px; } }
  .contacts-item .text {
    position: relative;
    display: inline-block; }
    .contacts-item .text:before {
      display: block;
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background: #232323;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      top: 100%;
      -webkit-transition: .4s;
              transition: .4s; }
  .contacts-item [class^="icon-"] {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #1fa9e3;
    font-size: 24px;
    -webkit-transition: .4s;
            transition: .4s; }
    @media print, screen and (min-width: 60em) {
      .contacts-item [class^="icon-"] {
        font-size: 30px; } }
    @media screen and (min-width: 71.25em) {
      .contacts-item [class^="icon-"] {
        font-size: 36px; } }

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .4s;
          transition: .4s;
  z-index: 3; }
  .overlay.active {
    opacity: 1;
    visibility: visible; }

.popup {
  position: fixed;
  width: 100%;
  max-width: 320px;
  height: auto;
  background: #ffffff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .4s;
          transition: .4s;
  padding: 40px 20px;
  max-height: 100%;
  overflow: auto; }
  @media print, screen and (min-width: 40em) {
    .popup {
      width: 420px;
      max-width: none;
      padding: 45px 40px 51px; } }
  .popup.active {
    visibility: visible;
    opacity: 1; }

.popup-inner {
  position: relative;
  padding-bottom: 40px; }
  @media print, screen and (min-width: 40em) {
    .popup-inner {
      padding-bottom: 88px; } }

.popup-title {
  font-family: "GothamPro-Black", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px; }
  @media print, screen and (min-width: 40em) {
    .popup-title {
      font-size: 30px;
      margin-bottom: 32px; } }

.input-block {
  font-family: "GothamPro-Medium", Helvetica, Arial, sans-serif;
  margin: auto;
  margin-bottom: 20px;
  max-width: 300px; }
  @media print, screen and (min-width: 40em) {
    .input-block {
      margin-bottom: 17px; } }
  .input-block span {
    font-size: 14px;
    display: block;
    color: #232323;
    margin-bottom: 5px; }
    @media print, screen and (min-width: 40em) {
      .input-block span {
        font-size: 16px;
        margin-bottom: 7px; } }
  .input-block input {
    letter-spacing: 0.4px;
    padding: 10px;
    border-radius: 8px;
    color: #424242;
    width: 100%;
    border: 2px solid #e8e8e8;
    font-size: 14px; }
    @media print, screen and (min-width: 40em) {
      .input-block input {
        font-size: 16px;
        padding: 17px 17px 20px; } }
    .input-block input:focus, .input-block input:active {
      outline: none;
      box-shadow: none; }
    .input-block input ::-webkit-input-placeholder {
      color: #e8e8e8; }
    .input-block input ::-moz-placeholder {
      color: #e8e8e8; }
    .input-block input :-moz-placeholder {
      color: #e8e8e8; }
    .input-block input :-ms-input-placeholder {
      color: #e8e8e8; }

.form-button {
  border: none;
  max-width: none;
  width: 100%;
  max-width: 300px; }
  @media print, screen and (min-width: 40em) {
    .form-button {
      padding: 20px 0;
      font-size: 18px; } }
  .form-button:focus {
    outline: none; }

.thanks-block {
  position: fixed;
  width: 100%;
  max-width: 320px;
  height: auto;
  background: #ffffff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .4s;
          transition: .4s;
  padding: 40px 20px;
  max-height: 100%;
  overflow: auto;
  text-align: center; }
  @media print, screen and (min-width: 40em) {
    .thanks-block {
      width: 450px;
      max-width: none;
      padding: 45px 35px 51px; } }
  .thanks-block.active {
    visibility: visible;
    opacity: 1; }

.thanks-block-title {
  font-family: "GothamPro-Black", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 30px; }
  @media print, screen and (min-width: 40em) {
    .thanks-block-title {
      font-size: 30px; } }

.thanks-block-text {
  font-family: "GothamPro-Medium", Helvetica, Arial, sans-serif;
  font-size: 18px; }
  @media print, screen and (min-width: 40em) {
    .thanks-block-text {
      font-size: 24px; } }

.footer {
  background: #131313;
  color: #424242;
  font-size: 12px;
  text-align: center;
  padding: 10px 0; }
  @media print, screen and (min-width: 40em) {
    .footer {
      padding: 16px 0px 13px;
      font-size: 13px; } }
  @media screen and (min-width: 71.25em) {
    .footer {
      font-size: 14px; } }
  @media screen and (min-width: 90em) {
    .footer {
      padding-bottom: 8px; } }
  @media print, screen and (min-width: 40em) {
    .footer .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  @media print, screen and (min-width: 60em) {
    .footer .container {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      .footer .container > * {
        width: 33%; } }
  @media screen and (min-width: 71.25em) {
    .footer .container {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .footer span {
    display: block; }
  .footer a {
    -webkit-transition: .4s;
            transition: .4s;
    color: #424242;
    display: inline-block;
    position: relative; }

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px; }
  @media print, screen and (min-width: 40em) {
    .footer-left {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  @media print, screen and (min-width: 40em) {
    .footer-left {
      width: auto; } }

.footer-logo {
  width: 150px; }
  @media screen and (min-width: 90em) {
    .footer-logo {
      width: 212px; } }

.footer-copyright {
  text-align: left;
  margin-left: 10px;
  letter-spacing: -0.4px;
  line-height: 1.3; }
  @media screen and (min-width: 71.25em) {
    .footer-copyright {
      margin-left: 19px; } }

.footer-confidential {
  margin-bottom: 10px; }
  @media print, screen and (min-width: 40em) {
    .footer-confidential {
      margin-bottom: 0; } }
  .footer-confidential span {
    display: inline-block;
    position: relative; }
    .footer-confidential span:before {
      display: block;
      position: absolute;
      content: '';
      height: 1px;
      width: 0;
      top: 100%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      background: #424242;
      -webkit-transition: .4s;
              transition: .4s; }
  .footer-confidential:hover span:before {
    width: 100%; }

.footer-production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media print, screen and (min-width: 60em) {
    .footer-production {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  .footer-production img {
    max-width: 46px; }
  .footer-production a {
    filter: grayscale(100%); }
    .footer-production a:hover {
      filter: grayscale(0); }
  .footer-production span {
    margin-right: 10px;
    text-align: right; }
    @media screen and (min-width: 71.25em) {
      .footer-production span {
        margin-right: 14px; } }
/*# sourceMappingURL=style.css.map */