@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Bold.eot");
  src: url("../fonts/PTSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-Bold.woff2") format("woff2"), url("../fonts/PTSerif-Bold.woff") format("woff"), url("../fonts/PTSerif-Bold.ttf") format("truetype"), url("../fonts/PTSerif-Bold.svg#PTSerif-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url("../fonts/TTCommons-Bold.eot");
  src: url("../fonts/TTCommons-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Bold.woff2") format("woff2"), url("../fonts/TTCommons-Bold.woff") format("woff"), url("../fonts/TTCommons-Bold.ttf") format("truetype"), url("../fonts/TTCommons-Bold.svg#TTCommons-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url("../fonts/TTCommons-Medium.eot");
  src: url("../fonts/TTCommons-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Medium.woff2") format("woff2"), url("../fonts/TTCommons-Medium.woff") format("woff"), url("../fonts/TTCommons-Medium.ttf") format("truetype"), url("../fonts/TTCommons-Medium.svg#TTCommons-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url("../fonts/TTCommons-DemiBold.eot");
  src: url("../fonts/TTCommons-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-DemiBold.woff2") format("woff2"), url("../fonts/TTCommons-DemiBold.woff") format("woff"), url("../fonts/TTCommons-DemiBold.ttf") format("truetype"), url("../fonts/TTCommons-DemiBold.svg#TTCommons-DemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-BoldItalic.eot");
  src: url("../fonts/PTSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-BoldItalic.woff2") format("woff2"), url("../fonts/PTSerif-BoldItalic.woff") format("woff"), url("../fonts/PTSerif-BoldItalic.ttf") format("truetype"), url("../fonts/PTSerif-BoldItalic.svg#PTSerif-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Regular.eot");
  src: url("../fonts/PTSerif-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-Regular.woff2") format("woff2"), url("../fonts/PTSerif-Regular.woff") format("woff"), url("../fonts/PTSerif-Regular.ttf") format("truetype"), url("../fonts/PTSerif-Regular.svg#PTSerif-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Commons';
  src: url("../fonts/TTCommons-Regular.eot");
  src: url("../fonts/TTCommons-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTCommons-Regular.woff2") format("woff2"), url("../fonts/TTCommons-Regular.woff") format("woff"), url("../fonts/TTCommons-Regular.ttf") format("truetype"), url("../fonts/TTCommons-Regular.svg#TTCommons-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url("../fonts/PTSerif-Italic.eot");
  src: url("../fonts/PTSerif-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerif-Italic.woff2") format("woff2"), url("../fonts/PTSerif-Italic.woff") format("woff"), url("../fonts/PTSerif-Italic.ttf") format("truetype"), url("../fonts/PTSerif-Italic.svg#PTSerif-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-Bold.eot");
  src: url("../fonts/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype"), url("../fonts/TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #000;
  font-family: "TT Commons";
  font-weight: normal;
  line-height: 1.3;
  font-size: 12px;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  position: relative;
  margin: auto;
}

.yellow {
  color: #fad75d;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.title {
  font-family: "PT Serif";
  font-weight: normal;
}

.medium {
  font-weight: 500;
}

.demibold {
  font-weight: 600;
}

.event-button {
  background: #fad75d;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "TT Norms";
  font-weight: bold;
  text-align: center;
  color: #000;
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 0px 0px #d6b850;
          box-shadow: 0px 3px 0px 0px #d6b850;
  padding: 27px 0;
  width: 280px;
}

.catalog-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 27px 27px 27px 40px;
}

.header {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  z-index: 1;
}

.header:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #2e2c2c;
  left: 50%;
  bottom: -8px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 153vw;
  height: 153vw;
  z-index: 0;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  padding-top: 31px;
}

.header-trigger {
  width: 22px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 35px;
  cursor: pointer;
  z-index: 2;
}

.header-trigger.active span {
  background: #000;
}

.header-trigger.active span:nth-child(2) {
  left: 50%;
}

.header-trigger.active span:last-child {
  left: 20%;
}

.header-trigger span {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  position: absolute;
  height: 3px;
  background: #ffffff;
  border-radius: 3px;
  left: 0;
}

.header-trigger span:first-child {
  width: 100%;
  top: 0;
}

.header-trigger span:nth-child(2) {
  width: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-trigger span:last-child {
  width: 80%;
  bottom: 0;
}

.header-logo {
  width: 100px;
  margin-left: 37px;
  font-size: 12px;
}

.header-logo-img {
  width: 90%;
  margin-bottom: 8px;
}

.header-logo-text {
  line-height: 1.1;
}

.header-logo-text span {
  display: block;
}

.header-locations {
  display: none;
  font-family: "Gotham Pro";
}

.header-locations-img {
  width: 35px;
  margin-right: 10px;
}

.header-phones {
  font-family: "PT Serif";
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-phones a {
  margin-bottom: 10px;
}

.header-phones-img {
  width: 12px;
  margin: 4px 6px 0 0;
}

.header-button {
  display: none;
  font-size: 12px;
}

.header-menu {
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 320px;
  top: 0;
  left: -320px;
  background: #fff;
  padding: 115px 15px 30px;
  color: #000000;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  min-height: 100vh;
  z-index: 1;
}

.header-menu.active {
  left: 0;
}

.utp {
  position: relative;
  background: #000000;
  padding-top: 84px;
}

.utp-bg {
  position: absolute;
  width: 100%;
  height: 127vw;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-size: 245vw;
  background-repeat: no-repeat;
  background-position: -64vw 21vw;
}

.utp-container {
  color: #ffffff;
  padding-top: 108px;
  padding-bottom: 40px;
}

.utp-main {
  max-width: 400px;
  margin: auto;
}

.utp-title {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 24px;
}

.utp-title .italic {
  display: block;
}

.utp-title-description {
  font-size: 13px;
  padding-left: 10px;
  margin-bottom: 34px;
}

.utp-button-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 37px;
}

.utp-button {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.utp-button img {
  width: 23px;
}

.utp-delivery {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  font-size: 14px;
  letter-spacing: .3px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.utp-defect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 16px;
  margin-bottom: 34px;
}

.utp-defect-image {
  width: 63px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 18px;
}

.utp-defect-text {
  letter-spacing: 0.3px;
}

.utp-condition-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.utp-condition-item {
  border: 1px dashed #ffffff;
  padding: 10px;
  width: 48%;
  border-radius: 5px;
  padding: 12px 15px;
  max-width: 265px;
}

@media (min-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 0 15px;
  }

  .header:after {
    display: none;
  }

  .header-container {
    padding-top: 31px;
  }

  .header-logo {
    width: 115px;
  }

  .header-logo-img {
    width: 100%;
  }

  .header-locations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header-locations span {
    display: block;
  }

  .header-phones a:last-child {
    margin-bottom: 0;
  }

  .header-button {
    display: block;
    font-family: "TT Norms";
    font-weight: bold;
    text-transform: uppercase;
    background: #fad75d;
    color: #000;
    border-radius: 5px;
    padding: 8px 10px;
  }

  .utp-bg {
    height: 100%;
    background-size: 1920px;
    background-position: 71% top;
  }

  .utp-container {
    padding-top: 108px;
    padding-bottom: 40px;
  }

  .utp-main {
    max-width: none;
    width: 60%;
    margin: 0;
  }

  .utp-title {
    font-size: 35px;
  }

  .utp-title-description {
    font-size: 16px;
  }

  .utp-delivery {
    font-size: 17px;
  }

  .utp-defect {
    font-size: 18px;
    position: absolute;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 195px;
    top: 120px;
    left: 65vw;
    color: #000000;
  }

  .utp-defect-image {
    width: 100px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .utp-condition-list {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .utp-defect {
    left: 66vw;
  }
}

@media (min-width: 1024px) {
  .utp-defect {
    left: 67vw;
  }
}

@media (min-width: 1200px) {
  .event-button {
    font-size: 16px;
    width: 320px;
  }

  .catalog-link {
    padding: 29px 33px 27px 59px;
  }

  .header-container {
    padding-top: 20px;
  }

  .header-trigger {
    left: 15px;
  }

  .header-logo {
    margin-left: 68px;
    width: 143px;
  }

  .header-logo-img {
    margin-bottom: 11px;
  }

  .header-locations {
    width: 195px;
    margin-left: 50px;
  }

  .header-locations-img {
    width: 48px;
    margin-right: 20px;
  }

  .header-phones {
    font-size: 20px;
    margin-left: 38px;
  }

  .header-phones a {
    margin-bottom: 3px;
  }

  .header-button {
    padding: 16px 18px;
  }

  .header-menu {
    width: calc(50vw - 300px);
    max-width: none;
    left: auto;
    right: 100vw;
  }

  .header-menu.active {
    right: auto;
    left: 0;
  }

  .utp-bg {
    height: 100%;
    background-size: 1920px;
    background-position: center top;
  }

  .utp-container {
    padding-top: 122px;
  }

  .utp-main {
    width: 66%;
  }

  .utp-title .italic {
    display: inline;
  }

  .utp-title {
    font-size: 46px;
    line-height: 1.35;
    margin-bottom: 34px;
  }

  .utp-title-description {
    font-size: 20px;
    padding-left: 72px;
    letter-spacing: 0.3px;
    width: 595px;
    line-height: 1.35;
    margin-bottom: 37px;
  }

  .utp-button-delivery {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 560px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 89px;
  }

  .utp-button {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .utp-delivery {
    width: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 20px;
    width: 31%;
    text-align: left;
    margin-bottom: 0;
  }

  .utp-defect {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    left: auto;
    right: 39px;
    top: 143px;
  }

  .utp-defect-image {
    margin-bottom: 26px;
  }

  .utp-condition-list {
    font-size: 18px;
    width: 535px;
    margin-left: 48px;
  }

  .utp-condition-item {
    width: 49%;
    padding: 15px;
  }

  .utp-condition-item:first-child {
    width: 41%;
  }
}

@media (min-width: 1920px) {
  .header-menu {
    width: calc(50vw - 600px);
  }
}

@media (min-width: 7688px) {
  .header-phones {
    font-size: 16px;
  }
}