@charset "UTF-8";

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url("../fonts/RobotoCondensed-Light.eot");
  src: url("../fonts/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url("../fonts/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu-Regular.eot");
  src: url("../fonts/Ubuntu-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.ttf") format("truetype"), url("../fonts/Ubuntu-Regular.svg#Ubuntu-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/Ubuntu-Bold.eot");
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype"), url("../fonts/Ubuntu-Bold.svg#Ubuntu-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/Ubuntu-Medium.eot");
  src: url("../fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.ttf") format("truetype"), url("../fonts/Ubuntu-Medium.svg#Ubuntu-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  background: #ffffff;
  color: #343B4C;
  font-family: "Roboto";
  font-weight: normal;
  line-height: 1.3;
  font-size: 16px;
  padding: 0;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  border-radius: 0;
  border: none;
}

input:hover,
input:focus,
button:hover,
button:focus,
textarea:hover,
textarea:focus,
select:hover,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.open-modal {
  padding-right: 17px;
}

section {
  position: relative;
}

.slick-slide:focus {
  outline: none;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1170px;
  padding: 0 10px;
  position: relative;
  margin: auto;
}

textarea {
  resize: none;
}

.blue-button {
  display: block;
  color: #ffffff;
  background: #315EFB;
  border-radius: 26px;
  -webkit-box-shadow: 0px 10px 35px 0px rgba(68, 94, 247, 0.46);
          box-shadow: 0px 10px 35px 0px rgba(68, 94, 247, 0.46);
  max-width: 222px;
  padding: 14px;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */

@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: auto;
  background: #ffffff;
  width: 100%;
  padding: 10px 0;
  z-index: 2;
}

.header-container {
  width: 100%;
}

.header-trigger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-trigger.active span:first-child {
  top: 50%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 0;
  visibility: hidden;
}

.header-trigger.active span:nth-child(2),
.header-trigger.active span:nth-child(3) {
  -webkit-transition: .4s .4s;
  -o-transition: .4s .4s;
  transition: .4s .4s;
}

.header-trigger.active span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header-trigger.active span:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header-trigger.active span:last-child {
  bottom: 50%;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 0;
  visibility: hidden;
}

.header-trigger span {
  display: block;
  height: 3px;
  width: 75%;
  position: absolute;
  background: #315EFB;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.header-trigger span:first-child {
  top: 5px;
  -webkit-transition: .4s .4s;
  -o-transition: .4s .4s;
  transition: .4s .4s;
}

.header-trigger span:nth-child(2),
.header-trigger span:nth-child(3) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.header-trigger span:last-child {
  bottom: 5px;
  -webkit-transition: .4s .4s;
  -o-transition: .4s .4s;
  transition: .4s .4s;
}

.header-content {
  position: absolute;
  top: 0;
  right: -320px;
  max-width: 320px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  background: #ffffff;
  padding: 140px 30px 50px;
  text-align: center;
  font-family: 'Ubuntu';
  font-size: 18px;
}

.header-content.active {
  right: 0;
}

.header-logo {
  position: relative;
  width: 20%;
  height: 100%;
  margin-left: 20px;
  z-index: 1;
  max-width: 115px;
}

.header-nav {
  margin-bottom: 50px;
}

.header-nav ul li {
  margin-bottom: 15px;
}

.header-nav ul li.active a:after {
  background: #315EFB;
}

.header-nav ul li:hover a:after {
  background: #F2F6FA;
}

.header-nav ul li a {
  position: relative;
  display: inline-block;
}

.header-nav ul li a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: transparent;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.header-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
}

.header-lang li {
  position: relative;
}

.header-lang li:first-child {
  margin-right: 15px;
}

.header-lang li:first-child:after {
  content: '';
  display: block;
  position: absolute;
  right: -9px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 14px;
  width: 2px;
  background: #343B4C;
}

.header-lang li a {
  color: #343B4C;
}

.header-lang li span {
  color: #315EFB;
}

.header-login {
  text-transform: capitalize;
  margin: 0 auto;
}

body.login-page .header-login {
  -webkit-box-shadow: 0px 10px 35px 0px #393d4d;
          box-shadow: 0px 10px 35px 0px #393d4d;
  background: #343B4C;
}

.intro {
  position: relative;
  width: 100%;
}

.intro:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #315EFB;
}

.intro-slider.slick-slider {
  margin-bottom: 0;
}

.intro-slider .slick-dots {
  bottom: 15px;
}

.intro-slider .slick-dots li {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.intro-slider .slick-dots li.slick-active {
  background: #ffffff;
}

.intro-slide-inner {
  position: relative;
  padding: 30px 0 50px;
}

.intro-slide-content {
  color: #ffffff;
  position: relative;
  z-index: 1;
  max-width: 320px;
}

.intro-slide-title {
  font-family: 'Ubuntu-Bold';
  font-size: 29px;
  margin-bottom: 30px;
  white-space: pre-line;
  line-height: 1.15;
}

.intro-slide-img {
  position: absolute;
  width: 100%;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .3;
  max-width: 320px;
}

.advants {
  padding: 50px 0;
}

.advants-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.advants-img {
  position: absolute;
  left: 0;
  width: 320px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .4;
  max-width: 526px;
}

.advants-content {
  position: relative;
  z-index: 1;
  width: 320px;
}

.advants-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 0.9;
  margin-bottom: 30px;
}

.advants-title-img {
  display: none;
}

.advants-title-nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advants-title-num {
  font-family: 'Ubuntu-Bold';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.advants-title-num:first-child {
  position: relative;
}

.advants-title-num:first-child:after {
  content: '';
  display: block;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100%;
  width: 3px;
  background: #B7BFC7;
}

.advants-num-numeric {
  font-size: 38px;
}

.advants-num-text span {
  color: #315EFB;
  display: block;
  font-size: 13px;
  line-height: 1.2;
}

.advants-num-text span.bold {
  color: #343B4C;
  font-size: 30px;
  line-height: 0.9;
  margin-bottom: 5px;
}

.advants-description {
  margin-bottom: 30px;
  letter-spacing: 0.05px;
  line-height: 1.35;
}

.advants-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.advants-link img {
  width: 30px;
}

.advants-link-text {
  padding-left: 15px;
  color: #315EFB;
  font-family: 'Ubuntu';
  text-decoration: underline;
}

.steps {
  background: #F2F6FA;
  padding: 40px 0;
}

.steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.steps-title {
  font-family: 'Ubuntu-Bold';
  color: #ffffff;
  font-size: 36px;
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 15px;
  margin: 0 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px 40px;
  line-height: 1.15;
}

.steps-title span {
  position: relative;
  z-index: 1;
}

.steps-title:before {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  height: 100%;
  right: 0;
  top: 0;
  background: #315EFB;
}

.steps-item {
  color: #315EFB;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 0px #e2e8f6, -5px -5px 15px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 5px 5px 15px 0px #e2e8f6, -5px -5px 15px 0px rgba(255, 255, 255, 0.8);
  padding: 30px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 15px 30px;
}

.steps-item.link-item {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.steps-item.link-item img {
  width: 36px;
}

.steps-item.link-item .steps-item-link {
  font-family: 'Ubuntu';
}

.steps-item-num {
  font-family: 'Ubuntu-Bold';
  font-size: 70px;
  margin-bottom: 20px;
}

.steps-item-title {
  font-family: 'Ubuntu-Medium';
  text-transform: uppercase;
  margin-bottom: 20px;
}

.steps-item-description {
  color: #343B4C;
  font-family: 'RobotoCondensed-Light';
  margin-bottom: 20px;
}

.steps-item-description span {
  display: block;
  margin-bottom: 15px;
}

.steps-item-note {
  font-family: 'RobotoCondensed-Light';
  font-style: italic;
  font-size: 12px;
  color: #343B4C;
  margin-bottom: 10px;
}

.steps-item-link {
  font-family: 'RobotoCondensed';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.steps-item-link img {
  width: 34px;
}

.steps-item-link span {
  padding-left: 8px;
  text-decoration: underline;
}

.about {
  padding: 50px 0;
}

.about-description {
  font-size: 16px;
  margin-bottom: 22px;
  line-height: 1.35;
}

.about-link {
  font-size: 16px;
  color: #315EFB;
  text-decoration: underline;
}

.factoring-description {
  padding: 40px 0;
}

.factoring-description-text {
  line-height: 1.35;
}

.factoring-description-text p {
  margin-bottom: 20px;
}

.factoring-description-text p:last-child {
  margin-bottom: 0;
}

.factoring-type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.factoring-type-item {
  margin-bottom: 40px;
  padding: 0 15px;
  max-width: 320px;
  width: 100%;
}

.factoring-item-title {
  font-family: 'Ubuntu-Medium';
  margin-bottom: 20px;
  color: #315EFB;
}

.factoring-item-description {
  font-family: 'RobotoCondensed-Light';
  line-height: 1.5;
}

.factoring-type-img {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.factoring-type-img img {
  max-width: 320px;
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  bottom: 0;
}

.factoring-type-img.left-item img {
  right: 0;
}

.factoring-type-img.left-item:before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #315EFB;
  right: 0;
}

.factoring-type-img.right-item img {
  left: 0;
}

.factoring-type-img.right-item:before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 100vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #315EFB;
  left: 0;
}

.login {
  background: #F2F6FA;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh - 373px);
}

.login-form {
  width: 100%;
  max-width: 320px;
  margin: auto;
}

.login-form-input {
  font-family: 'RobotoCondensed-Light';
  border-bottom: 1px solid #343B4C;
  width: 100%;
  padding: 3px 0;
  margin-bottom: 15px;
  background: transparent;
}

.login-form-forgot {
  width: 100%;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
}

.login-form-button {
  font-family: 'Ubuntu';
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin: auto;
}

.contacts {
  padding: 40px 0;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contacts-item {
  margin-bottom: 40px;
  padding: 0 15px;
}

.contacts-item p {
  white-space: pre-line;
  font-size: 14px;
  margin-bottom: 20px;
}

.contacts-item-title {
  text-transform: uppercase;
}

.contacts-item-link {
  font-family: "RobotoCondensed";
  color: #315EFB;
  text-decoration: underline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts-item-link img {
  width: 34px;
}

.contacts-item-link span {
  padding-left: 10px;
}

.contacts-map {
  height: 250px;
}

.contacts-map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.footer {
  background: #343B4C;
  width: 100%;
  color: #B7BFC7;
  font-size: 14px;
  padding: 15px 0;
}

.footer-logo {
  width: 30%;
  margin-bottom: 20px;
  max-width: 119px;
}

.footer-nav {
  font-family: 'Ubuntu';
  color: #ffffff;
}

.footer-nav ul li {
  margin-bottom: 10px;
}

.footer-nav ul li:hover a:after {
  background: #F2F6FA;
}

.footer-nav ul li a {
  position: relative;
  display: inline-block;
}

.footer-nav ul li a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background: transparent;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.footer-contacts {
  margin-bottom: 10px;
}

.footer-copyright-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 640px) {
  .intro-slide-inner {
    padding: 50px 0;
  }

  .intro-slide-img {
    opacity: 1;
    max-width: none;
    width: 50%;
  }

  .advants-img {
    opacity: 1;
    width: 50%;
  }

  .advants-content {
    width: 50%;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .container {
    padding: 0 15px;
  }

  .header {
    position: relative;
    padding: 20px 0;
    z-index: 1;
  }

  .header-container {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-trigger {
    display: none;
  }

  .header-content {
    height: auto;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    max-width: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 16px;
    overflow: visible;
    padding-left: 20px;
    width: 85%;
  }

  .header-logo {
    width: 14.5%;
    margin: 0;
    max-width: none;
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .header-nav {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .header-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }

  .header-nav ul li {
    margin-bottom: 0;
  }

  .header-sets {
    margin-left: 15px;
  }

  .header-lang {
    margin-bottom: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 20px;
  }

  .header-login {
    margin: 0;
  }

  .intro:before {
    height: 90%;
    z-index: 1;
  }

  .intro-container {
    padding: 0;
    z-index: 1;
  }

  .intro-slider .slick-dots {
    bottom: 20px;
  }

  .intro-slide-inner {
    padding: 80px 15px 60px;
  }

  .intro-slide-content {
    max-width: none;
    width: 50%;
    max-width: 370px;
  }

  .intro-slide-title {
    font-size: 35px;
  }

  .intro-slide-img {
    width: 50%;
    top: auto;
    bottom: -8vw;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .advants {
    padding: 80px 0;
  }

  .advants-img {
    left: -10.2%;
  }

  .advants-content {
    width: 65%;
  }

  .advants-title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 50px;
  }

  .advants-title-img {
    display: block;
    width: 60px;
  }

  .advants-title-nums {
    margin-left: 15px;
  }

  .advants-num-numeric {
    font-size: 45px;
    padding-right: 5px;
  }

  .advants-num-text span {
    font-size: 14px;
  }

  .advants-num-text span.bold {
    font-size: 32px;
  }

  .advants-description {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .advants-link {
    font-size: 16px;
  }

  .steps {
    padding: 80px 0;
  }

  .steps-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .steps-title {
    font-size: 42px;
    margin-bottom: 60px;
  }

  .steps-item {
    padding: 40px;
    margin-bottom: 60px;
  }

  .steps-item.link-item .steps-item-link {
    font-size: 16px;
  }

  .steps-item-num {
    font-size: 84px;
  }

  .steps-item-description {
    margin-bottom: 30px;
  }

  .steps-item-note {
    font-size: 14px;
  }

  .about {
    padding: 70px 0 90px;
  }

  .about-inner {
    padding-left: 30%;
  }

  .about-description {
    font-size: 16px;
  }

  .about-link {
    font-size: 16px;
    padding-right: 10%;
  }

  .factoring-description {
    padding: 40px 0 60px;
  }

  .factoring-description-text {
    font-size: 16px;
  }

  .factoring-item-description {
    font-size: 16px;
  }

  .login {
    min-height: calc(100vh - 398px);
    padding: 150px 0;
  }

  .login-form {
    max-width: 543px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .login-form-input {
    margin-bottom: 30px;
  }

  .login-form-forgot {
    width: auto;
    margin-bottom: 0;
  }

  .login-form-button {
    margin: 0;
  }

  .contacts {
    padding: 70px 0;
  }

  .contacts-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .contacts-item {
    padding: 0;
    margin-right: 40px;
  }

  .contacts-item p {
    font-size: 16px;
    margin-bottom: 23px;
  }

  .contacts-item-title {
    margin-bottom: 45px;
  }

  .contacts-item-link {
    margin-top: 20px;
  }

  .contacts-item-link span {
    padding-left: 17px;
  }

  .contacts-map {
    height: 300px;
  }

  .footer {
    font-size: 16px;
    padding: 20px 0;
  }

  .footer-nav {
    margin-bottom: 20px;
  }

  .footer-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .footer-nav ul li {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .footer-contacts {
    margin-bottom: 20px;
  }

  .footer-contacts p {
    margin-bottom: 1px;
  }

  .footer-sid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 170px;
    text-transform: uppercase;
  }

  .footer-sid span:first-child {
    margin-right: 26px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 30px 0 50px;
  }

  .header-content {
    font-size: 18px;
  }

  .header-nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header-nav ul li {
    margin-left: 4%;
  }

  .header-nav ul li a:after {
    bottom: -10px;
    height: 3px;
  }

  .header-sets {
    width: 25%;
    margin-left: 25px;
  }

  .intro-slide-inner {
    padding: 110px 15px;
  }

  .intro-slide-content {
    max-width: none;
  }

  .intro-slide-title {
    font-size: 40px;
  }

  .advants {
    padding: 110px 0;
  }

  .advants-num-numeric {
    padding-right: 10px;
    font-size: 52px;
  }

  .advants-num-text span {
    font-size: 15px;
  }

  .advants-num-text span.bold {
    font-size: 33px;
  }

  .advants-description {
    margin-bottom: 75px;
  }

  .steps {
    padding: 100px 0 60px;
  }

  .steps-title {
    font-size: 48px;
    width: 28%;
    margin: 0 5% 100px 0;
  }

  .steps-item {
    width: 28%;
    margin: 0 5% 100px 0;
  }

  .steps-item.link-item {
    padding-bottom: 10px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .steps-item-num {
    font-size: 99px;
    margin-bottom: 40px;
  }

  .steps-item-description {
    margin-bottom: 40px;
  }

  .steps-item-description span {
    margin-bottom: 20px;
  }

  .about {
    padding: 83px 0 150px;
  }

  .about-inner {
    padding-left: 32.2%;
  }

  .factoring-description {
    padding: 20px 0 90px;
  }

  .factoring-description-text {
    padding-left: 27%;
  }

  .factoring-type-item {
    width: 25%;
    margin-bottom: 120px;
  }

  .factoring-type-item:nth-child(3) {
    margin-right: 25%;
  }

  .factoring-type-img {
    width: 25%;
  }

  .factoring-type-img.left-item:before {
    right: 10%;
  }

  .factoring-type-img.right-item:before {
    left: 10%;
  }

  .login {
    min-height: calc(100vh - 522px);
    padding: 200px 0;
  }

  .login-form-input {
    margin-bottom: 50px;
  }

  .contacts {
    padding: 100px 0;
  }

  .contacts-item {
    margin-right: 90px;
  }

  .contacts-item-link {
    margin-top: 45px;
  }

  .contacts-map {
    height: 350px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer-logo {
    margin-bottom: 30px;
  }

  .footer-nav {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .footer-nav ul li {
    margin-right: 25px;
  }

  .footer-nav ul li a:after {
    bottom: -10px;
    height: 3px;
  }

  .footer-contacts {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 30px;
  }

  .header {
    padding: 40px 0 73px;
  }

  .header-logo {
    margin-bottom: 16px;
  }

  .header-nav ul li a:after {
    bottom: -19px;
    height: 5px;
  }

  .header-sets {
    width: 24%;
    margin-left: 52px;
  }

  .header-lang {
    padding-right: 39px;
    margin-bottom: 54px;
  }

  .header-lang li:first-child {
    margin-right: 11px;
  }

  .header-lang li:first-child:after {
    right: -7px;
  }

  .intro:before {
    height: 88%;
  }

  .intro-slider .slick-dots {
    bottom: 42px;
  }

  .intro-slide-inner {
    padding: 119px 15px 108px;
  }

  .intro-slide-content {
    width: 53%;
  }

  .intro-slide-title {
    font-size: 45px;
    margin-bottom: 48px;
  }

  .intro-slide-img {
    right: auto;
    left: 52.8%;
    bottom: -30px;
  }

  .advants {
    padding: 153px 0 123px;
  }

  .advants-img {
    top: 40%;
  }

  .advants-content {
    width: 68%;
  }

  .advants-title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 73px;
  }

  .advants-title-img {
    width: 80px;
  }

  .advants-title-nums {
    margin-left: 25px;
  }

  .advants-title-num:first-child:after {
    width: 7px;
    right: -1px;
  }

  .advants-title-num:last-child {
    padding-left: 6px;
  }

  .advants-num-numeric {
    font-size: 60px;
    padding-right: 16px;
  }

  .advants-num-text span {
    font-size: 16px;
  }

  .advants-num-text span.bold {
    font-size: 34px;
  }

  .advants-description {
    padding-right: 20px;
    margin-bottom: 89px;
  }

  .advants-link {
    padding-left: 9px;
  }

  .advants-link img {
    width: 36px;
  }

  .advants-link-text {
    padding-left: 19px;
  }

  .steps {
    padding: 170px 0 15px;
  }

  .steps-title {
    font-size: 55px;
    width: 27.5%;
    max-width: none;
    margin-right: 4%;
    padding: 143px 32px 96px;
    margin-bottom: 16px;
  }

  .steps-item {
    max-width: none;
    width: 26.7%;
    padding: 8px 30px 62px 46px;
    margin-bottom: 160px;
  }

  .steps-item.link-item {
    padding: 8px 50px 10px 40px;
  }

  .steps-item-num {
    font-size: 113px;
    margin-bottom: 55px;
  }

  .steps-item-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .steps-item-description {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .steps-item-description span {
    margin-bottom: 25px;
  }

  .steps-item-note {
    margin-bottom: 0;
  }

  .steps-item-link {
    font-size: 18px;
  }

  .steps-item-link span {
    padding-left: 15px;
  }

  .about {
    padding: 83px 0 221px;
  }

  .about-inner {
    padding-right: 10%;
  }

  .factoring-description {
    padding: 17px 0 134px;
  }

  .factoring-description-text {
    padding-left: 25.5%;
    padding-right: 97px;
  }

  .factoring-description-text p {
    margin-bottom: 45px;
  }

  .factoring-description-text p:last-child {
    margin-bottom: 0;
  }

  .factoring-type-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .factoring-type-item {
    padding: 0;
    width: 23.6%;
    margin-right: 20px;
    margin-bottom: 210px;
  }

  .factoring-type-item:nth-child(3) {
    margin-right: 10%;
  }

  .factoring-type-item:nth-child(7) {
    margin-right: 0;
  }

  .factoring-type-item:nth-child(12) {
    margin-left: 25.5%;
  }

  .factoring-type-item:nth-child(12),
  .factoring-type-item:nth-child(13) {
    margin-top: -156px;
    margin-bottom: 201px;
  }

  .factoring-item-title {
    font-size: 20px;
    margin-bottom: 22px;
    width: 50%;
  }

  .factoring-type-img {
    width: 23%;
  }

  .factoring-type-img.left-item {
    margin-right: 28px;
  }

  .factoring-type-img.left-item img {
    width: 652px;
    max-width: none;
    right: -72px;
  }

  .factoring-type-img.left-item:before {
    right: 34%;
  }

  .factoring-type-img.right-item img {
    bottom: 21px;
    width: 423px;
    max-width: none;
  }

  .factoring-type-img.right-item:before {
    left: 62%;
    top: -22px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .login {
    min-height: calc(100vh - 645px);
    padding: 247px 0 241px;
  }

  .login-form-input {
    margin-bottom: 66px;
  }

  .login-form-input:nth-child(2) {
    margin-bottom: 38px;
  }

  .contacts {
    padding: 175px 0 137px;
  }

  .contacts-item {
    margin-right: 143px;
  }

  .contacts-item-link {
    margin-top: 69px;
    padding-left: 5px;
  }

  .contacts-map {
    height: 417px;
  }

  .footer {
    padding: 55px 0 49px;
  }

  .footer-logo {
    margin-bottom: 41px;
  }

  .footer-nav {
    margin-bottom: 44px;
  }

  .footer-nav ul li {
    margin-right: 40px;
  }

  .footer-nav ul li a:after {
    bottom: -19px;
    height: 5px;
  }

  .footer-contacts {
    margin-bottom: 45px;
  }

  .footer-copyright-container {
    padding: 0 9px 0 5px;
  }
}

@media (min-width: 1440px) {
  .intro {
    margin-top: -58px;
  }

  .intro:before {
    height: 79%;
  }

  .intro-container {
    padding: 0;
    max-width: 1240px;
  }

  .intro-slide-inner {
    padding: 180px 15px 108px;
  }

  .intro-slide-content {
    padding-left: 50px;
  }

  .intro-slide-img {
    width: 48.5%;
  }

  .steps-container {
    max-width: 1270px;
  }
}